
body{
    margin:50px;
    border: 2px black;
    border-radius: 10px;
}
img{
    width: 500px;
    display: block;
    margin: auto;
}
p{
    font-size: 1.5rem;
}
.project3rep{
    padding: 0.4rem;
    border-radius: 5px;
    color: rgb(53,53,53);
    font-weight: 600;
}